#crazy-video {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.crazy .default-content {
    position: relative;
    z-index: 10;
}
#crazy-crazy {
    text-align: center;
    font-size: 300px;
    line-height: 300px;
    font-family: 'Hanged Letters';
}
#crazy-crazy span {
    position: relative;
    top: -320px;
    transition-property: top;
    transition-duration: .5s;
    transition-timing-function: ease;
}
#crazy-crazy span.visible {
    top: 60px;
}
#crazy-enough {
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
    font-family: fantasy;
}
