@font-face {
    font-family: 'Hanged Letters';
    src: local('Hanged Letters'), url('../fonts/hanging_letters/Hanged Letters.ttf');
}

@font-face {
    font-family: 'Bergamot Ornaments';
    src: local('Bergamot Ornaments'), url('../fonts/bergamont_ornaments/Bergamot Ornaments.ttf');
}

@font-face {
    font-family: 'varsity_regular';
    src: local('varsity_regular'), url('../fonts/varsity_regular/varsity_regular.ttf');
}



body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    display: none;
}
.active {
    display: block;
}

.default-content {
    border: 1px solid red;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    transform-origin: top center;
}

.text-color-light {
    color: #fff;
    stroke: #fff;
}
.text-color-medium {
    color: rgba(255, 255, 255, .7);
    stroke: rgba(255, 255, 255, .7);
}
.text-color-dark {
    color: blue;
    stroke: blue;
}
.text-color-darker {
    color: darkblue;
    stroke: darkblue;
}

.background-color-light {
    background: #fff;
    fill: #fff;
}
.background-color-medium {
    background: rgba(255, 255, 255, .7);
    fill: rgba(255, 255, 255, 0.7);
}
.background-color-dark {
    background: blue;
    fill: blue;
}
.background-color-darker {
    background: darkblue;
    fill: darkblue;
}
