@font-face {
    font-family: 'perfectly amicable';
    src: local('perfectly amicable'), url('../fonts/perfectly amicable/perfectly amicable.ttf');
}

@font-face {
    font-family: 'Little Swag';
    src: local('Little Swag'), url('../fonts/little_swag/KGALittleSwag.ttf');
}

@font-face {
    font-family: 'niko';
    src: local('niko'), url('../fonts/niko/NikoFont.ttf');
}

@font-face {
    font-family: 'Mix Freo';
    src: local('Mix Freo'), url('../fonts/mix_freo/Mix_Freo.otf');
}

@font-face {
    font-family: 'Blinded by desire';
    src: local('Blinded by desire'), url('../fonts/blinded_by_desire/Blinded_by_desire.ttf');
}

@font-face {
    font-family: 'Hanged Letters';
    src: local('Hanged Letters'), url('../fonts/hanging_letters/Hanged Letters.ttf');
}

@font-face {
    font-family: 'Bergamot Ornaments';
    src: local('Bergamot Ornaments'), url('../fonts/bergamont_ornaments/Bergamot Ornaments.ttf');
}

@font-face {
    font-family: 'varsity_regular';
    src: local('varsity_regular'), url('../fonts/varsity_regular/varsity_regular.ttf');
}

@font-face {
    font-family: 'TravelingTypewriter';
    src: local('TravelingTypewriter'), url('../fonts/traveling_typewriter/TravelingTypewriter.ttf');
}



body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    display: none;
}
.active {
    display: block;
}

.default-content {
/*    border: 1px solid red;*/
    width: 800px;
    height: 600px;
    margin: 0 auto;
    transform-origin: top center;
}

.text-color-light {
    color: #fff;
    stroke: #fff;
}
.text-color-medium {
    color: rgba(255, 255, 255, .7);
    stroke: rgba(255, 255, 255, .7);
}
.text-color-dark {
    color: blue;
    stroke: blue;
}
.text-color-darker {
    color: darkblue;
    stroke: darkblue;
}

.background-color-light {
    background: #fff;
    fill: #fff;
}
.background-color-medium {
    background: rgba(255, 255, 255, .7);
    fill: rgba(255, 255, 255, 0.7);
}
.background-color-dark {
    background: blue;
    fill: blue;
}
.background-color-darker {
    background: darkblue;
    fill: darkblue;
}
