.world {
    background-color: lightgray;      
}

.world-headline-small {
    font-size: 2em;
    font-family: "Segoe UI";
    
    color: #DEDEDE;
}

.world-headline-big {
    font-size: 5em;
    font-family: "Blinded by desire";
    
    color: white;
}

.world-globe {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 75px auto 0px auto;
    display: block;
}
