.world {
    background-color: cornflowerblue;      
}

.world-headline-small {
    font-size: 2em;
    color: #DEDEDE;
}

.world-headline-big {
    font-size: 5em;
    color: white;
}

.world-globe {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
