
.world-headline {
    margin: 0 auto;
    width: 800px;
    margin-top: 30px;
}

.world-headline-small {
    font-size: 5em;
    font-family: "Blinded by desire";
    
    margin-left: 100px;
    margin-top: 20px;
    
    float:left;
    
/*    color: black;*/
}

.world-headline-big {
    
    float:left;
    
    margin-left: 50px;
    
    font-size: 8em;
    font-family: "Blinded by desire";
}

.world-globe {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: 220px auto 0px auto;
    display: block;
}

#world-path {
    margin-top: -800px;
    margin-left: 225px;
    width: 350px;
    height: 350px;
    display:inline-block;
    position:relative;
    top: -15px;
    
    stroke: red;
}